@font-face {
    font-family: 'EB Garamond';
    src: url('fonts/eb_garamond/ebgaramond-variablefont_wght.woff2') format('woff2'),
         url('fonts/eb_garamond/ebgaramond-variablefont_wght.woff') format('woff');
    font-weight: 400 800;
    font-style: normal;
}
@font-face {
    font-family: 'EB Garamond';
    src: url('fonts/eb_garamond/ebgaramond-italic-variablefont_wght.woff2') format('woff2'),
         url('fonts/eb_garamond/ebgaramond-italic-variablefont_wght.woff format') format('woff');
    font-weight: 400 800;
    font-style: italic;
}

:root {
    --fg: black;
    --bg: #F4EFEC;
    --accent: crimson;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    padding: 0 1em;

    font-family: 'EB Garamond', serif;

    /* background-size: cover; */
    background-attachment: fixed;
    background-position: center;
}

/* header {} */

footer { text-align: center; }

/* main {} */

a { color: inherit; text-decoration-color: var(--accent); }
a:hover { text-decoration-thickness: .2em; }

h1 {
    font-size: 4em;
    margin: 1em 0 .25em 0;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin: 1em 0 .25em 0;
    text-align: center;
}

.tagline {
    font-style: italic;
    text-align: center;
}

section {
    margin-top: 1em;
    margin-bottom: 1em;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: justify;
}

nav {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

figure { margin: 1em auto; }
figure img { margin: 0 auto; }
figcaption { text-align: center; font-style: italic; }

table {
    border: 1px solid;

    margin-bottom: 1rem;
    margin: 1em auto;
}
table th {
    color: var(--bg);
    background-color: var(--fg);
    border: 1px solid var(--fg);

    text-align: center;

    padding: 0 1ch;
}
table td {
    border: 1px solid;

    text-align: center;

    padding: 0 1ch;
}

.box {
    border: 1px solid;

    max-width: 64ch;
    margin: 1em auto;
    padding: 1em;
}

.gay {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    color: transparent;
}

.ticker {
    font-family: monospace;
    font-size: .75em;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
}
.button {
    width: 88px;
    height: 31px;
    image-rendering: pixelated;
}

.note {
    font-size: .75em;
    font-style: italic;
    text-align: center;
}
